body {
	margin: 0 auto;
	color: red;
	background-color: black;
}

a {
	text-decoration: none;
}

a:hover {
	color: green;
	text-decoration: none;
}

.box {
	padding: 3em;
	display: block;
	margin: 3em;
	color: white;
	text-align: center;
	background-color: orange;
	border-radius: 50px;
}