{% extends "layout.html" %}
{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">Control Panel</h1>
        <div class="center-block">
            <a href="{{ url_for('overlay') }}" class="box" target="_blank">Overlay page</a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Filename</th>
                <th>Controls</th>
                <th>Length</th>
            </tr>
            {% for file in files_data %}
                <tr>
                    <td>{{ file }}</td>
                    <td>
                        <!-- Play Button -->
                        <!-- TODO: Specify timeout for both -->
                        <a href="{{ url_for('request_state', new_state='request', new_file=file, time_out=5) }}" class="btn btn-success"><i class="fa fa-play fa-3x"></i></a>
                        <!-- Stop Button -->
                        <a href="{{ url_for('request_state', new_state='ready', new_file='none', time_out=5) }}" class="btn btn-danger"><i class="fa fa-stop fa-3x"></i></a>
                    </td>
                    <td>{{ files_data[file] }} seconds</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}