{% extends "layout.html" %}
{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;">Overeffect Control Panel</h1>
        <h2>Media</h2>
        {% for file in files_data %}
            <div class="row option-row">
                <a href="{{ url_for('request_state', new_state='request', new_file=file.full_name) }}" class="btn btn-info">
                    <i class="fa fa-play fa-3x">&nbsp;  {{ file.full_name }}
                        <!-- Only print the duration if the file has one -->
                        {% if file.duration %}
                            [{{ file.duration }}s]
                        {% endif %}
                    </i>
                </a>
            </div>
        {% endfor %}
        <!-- Generic controls at the bottom -->
        <div class="center-block">
            <h2>Controls</h2>
        </div>
        <!-- Link to overlay page -->
        <div class="row option-row">
            <a href="{{ url_for('overlay') }}" class="btn btn-warning" target="_blank"><i class="fa fa-feed fa-2x"></i>&nbsp;   Overlay page</a>
        </div>
        <!-- Refresh list button -->
        <div class="row option-row">
            <a href="{{ url_for('rebuild_filelist') }}" class="btn btn-success" id="refreshButton"><i class="fa fa-refresh fa-2x"></i>&nbsp;   Refresh List</a>
        </div>
        <!-- Clear current media button -->
        <div class="row option-row">
            <a href="{{ url_for('set_clear', return_location=0) }}" class="btn btn-danger"><i class="fa fa-stop fa-2x"></i>&nbsp;   Clear current Media</a>
        </div>
        <!-- Shameless plug -->
        <div class="row option-row">
            <h3>Made by Purrcat. Meow.</h3>
            <p>Current notes:</p>
            <ol>
                <li>You cannot stop long songs for now as they are playing - so use with caution.</li>
                <li>You cannot play audio and GIFs at the same time. Make a video for that.</li>
            </ol>
        </div>
    </div>
{% endblock %}